<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" href="/">Flipping English</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/exprs/list">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/exprs/add">Add</a>
        </li>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="text" placeholder="Type to search">
        </form>
      </ul>
    </div>
  </div>
</nav>
