<div class="card card-body">
  <h3>Add Expression</h3>
  <form method="POST" action="/exprs">
    <div class="form-group">
      <label for="eng">English expression</label>
      <input type="text" class="form-control" name="eng" value="{{eng}}" required>
    </div>
    <div class="form-group">
      <label for="kor">Description</label>
      <input type="text" class="form-control" name="kor" value="{{kor}}" required>
    </div>
    <div class="form-group">
      <label for="tag">Tag</label>
      <input type="text" class="form-control" name="tag" value="{{tag}}" required>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
  </form>
</div>
